
.Product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.hero {
  background-image: url('../../public/images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  width: 100vw;
  height: 100vh;
}

.hero-text {
  text-align: left;
  margin-left: 40px;
  font-size: 50px;
}

.one-product {
  width: 200px;
  margin: 20px;
  height: 400px;
  margin: 50px;
  margin-top: 100px;
  background: #ffffff;
  border: 1px solid #ccc;
}

.img {
  max-width: 100%;
  height: auto;
}

.image {
  height: 315px;
}

.details {
  color: rgb(0, 0, 0);
  font-weight: 450;
}

.itname {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.addbtn {
  background-color: #007bff;
  color: black;
  border: none;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  width: 200px;
}

.addbtn:hover {
  background-color: #0062cb;
}

/* Mobile styles */

@media (max-width: 767px) {

  .hero {
    background-image: url('../../public/images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    height: 250px;
  }
    
  .one-product {
    width: 100px;
    margin: 20px;
    height: 200px;
    margin: 50px;
    margin-top: 100px;
    background: #ffffff;
  }
  
.img {
  margin-bottom: 2px;
  max-width: 100%;
  height: auto;
}

.image {
  height: 150px;
}

.details {
  color: white;
  font-size: 0.8rem;
  font-weight: 450;
}

.itname {
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.addbtn {
  background-color: #005bbc;
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px 16px;
  font-size: 0.8rem;
  cursor: pointer;
  width: 100px;
}
}

@media (max-width: 400px) {
  .one-product {
    width: 80px;
    margin: 10px;
    height: 180px;
    margin-top: 100px;
    background: #ffffff;
  }
  
.img {
  margin-bottom: 2px;
  max-width: 100%;
  height: auto;
}

.image {
  height: 140px;
}

.details {
  color: rgb(0, 0, 0);
  font-size: 0.5rem;
  font-weight: 200;
}

.itname {
  font-size: 0.5rem;
  margin-bottom: 5px;
}

.addbtn {
  background-color: #005bbc;
  color: rgb(255, 255, 255);
  border: none;
  padding: 3px 6px;
  font-size: 0.5rem;
  cursor: pointer;
  width: 80px;
}
}